# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
example_project/aclocal.m4
example_project/compile
example_project/config.h.in
example_project/configure
example_project/install-sh
example_project/depcomp
example_project/Makefile.in
example_project/missing
example_project/autom4te.cache/output.0
example_project/autom4te.cache/output.1
example_project/autom4te.cache/requests
example_project/autom4te.cache/traces.0
example_project/autom4te.cache/traces.1
example_project/src/Makefile.in
example_project/config.h
example_project/config.log
example_project/config.status
example_project/stamp-h1
example_project/src/hello
example_project/src/Makefile
example_project/Makefile
example_project/src/.deps/main.Po
